<!-- Contains all nav bar components -->
<header id="header"> 
  <div class="headercontainer">
    <div class="navbar">
      <div class="logo">
        <!-- My name at the top of the page -->
        <h1><span style="color: #F2E0D5">H</span><span style="color: #F2E0D5;">elp</span> <span style="color: #F2E0D5">D</span><span style="color: #F2E0D5">esk </span></h1>
      </div>
      <!-- links to each page in nav bar -->
      <nav class="list">
        <div class="navlines">
        </div>
        <ul>
          <li>
            <a href="/index" class="navlink scrollto active"><span>Home</span></a>
          </li>
          <li>
            <a href="/assignments" class="navlink scrollto active"><span>Tickets</span></a>
          </li>
          <% if(typeof displayname == 'string' && displayname) { %>
            <li class="navbar-text">
              <a>Welcome, <%= displayname %></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">
                <i class="fa-solid fa-sign-out-alt"></i> Logout
              </a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a href="/login" class="nav-link">
                <i class="fa-solid fa-sign-in-alt"></i> Login
              </a>
            </li>
          <% } %>
        </ul> 
      </nav>
    </div>
  </div>
</header>
